  <h2 style="text-align:center;margin-right:10px;margin-left:10px;color:#D9534F;"><strong>どの相談をしますか？</strong></h2>
  <h2 style="text-align:center;" class="mypage-sentence"><strong>どのマイページを見ますか？</strong></h2>
  <h3 style="text-align:center;"><a href="/studies/new" style="color:green;"><u>勉強相談</u></a></h3>
  <h3 style="text-align:center;"><a href="/courses/new" style="color:green;"><u>進路相談</u></a></h3>
  <h3 style="text-align:center;"><a href="/genders/new" style="color:green;"><u>恋愛・性相談</u></a></h3>

