  <div style="position: relative;">


  <h2 style="text-align:center;" class="select-sentence"><strong>ログアウトしました</strong></h2>

  <h2 style="text-align:center;" class="back-top-sentence"><strong><a href="/" style="color:green;">トップページに戻る</a></strong></h2>
  </div>
