  <!--
  <div style="position: relative;">



  <h2 style="text-align:center;" class="after-register-sentence"><strong>ログインできました！</strong></h2>

  <h2 style="text-align:center;" class="select-sentence"><strong>早速相談をしてみよう！</strong></h2>

  <ul style="list-style:none;text-align:center;">
    <li><a href="/studies/new"><button type="button" class="btn btn-success btn-lg select-study-button" style="margin-top:20px;width:200px;">勉強相談をする</button></a></li>
    <li><a href="/courses/new"><button type="button" class="btn btn-success btn-lg select-course-button" style="margin-top:20px;width:200px;">進路相談をする</button></a></li>
    <li><a href="/genders/new"><button type="button" class="btn btn-success btn-lg select-sex-button" style="margin-top:20px;width:200px;">恋愛・性相談をする</button></a></li>
  </ul>

  </div>
  -->



<div style="position: relative;">

<h2 style="text-align:center;margin-right:10px;margin-left:10px;color:#D9534F;"><strong>ログインできました！</strong></h2>

  <h2 style="text-align:center;margin-right:10px;margin-left:10px;color:#D9534F;"><strong>早速相談をしてみよう！</strong></h2>

<!--
  <h2 style="text-align:center;" class="mypage-sentence"><strong>どのマイページを見ますか？</strong></h2>
  -->

  <h3 style="text-align:center;"><a href="/studies/new" style="color:green;"><u>勉強相談をする</u></a></h3>

  <h3 style="text-align:center;"><a href="/studies/new" style="color:green;"><u>進路相談をする</u></a></h3>

  <h3 style="text-align:center;"><a href="/studies/new" style="color:green;"><u>恋愛・性相談をする</u></a></h3>
  </div>
