<div class="contents row">
    <div class="success container">
      <h2>投稿が完了しました！</h2>
      <a href="/courses"><button type="button" class="btn btn-success back-study-button">投稿一覧へ戻る</button></a>
    </div>
  </div>