<p><%= @resource.email %>様</p>

<p>お手数ですが、下記リンクより、パスワードの再設定を行ってください。</p>

<p><%= link_to 'パスワードを再設定する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのメールに心当たりがない場合は、このメールを削除してください。</p>