<div class="contents row">
    <div class="success container">
      <h2>投稿を更新しました！</h2>
      <!-- <a class="btn" href="/studies">投稿一覧へ戻る</a>-->
      <a href="/genders"><button type="button" class="btn btn-success back-study-button">投稿一覧へ戻る</button></a>
    </div>
  </div>